{
  "presets": ["env", "react", "stage-0"],
  "plugins": [
    ["module-resolver", {
      "cwd": "babelrc",
      "alias": {
        "reducers": "./src/reducers",
        "operations": "./src/operations",
        "pages": "./src/pages",
        "components": "./src/components"
      }
    }]
  ]
}
